In [4]:
import numpy as np
import pandas as pd
import gensim
import nltk

In [5]:
from nltk import sent_tokenize

story = []

#df = pd.DataFrame(pd.read_csv('./the-office_lines.csv'))
df = pd.read_csv('./the-office_lines.csv')

In [6]:
#Preprocessing

#lowercasing
df['Line']= df['Line'].str.lower()

#removing html elements
import html
def html_removal(text):
  return html.unescape(text)

df['Line'] = df['Line'].apply(html_removal)



#removing punctuation
import string
def remove_punc(text):
  exclude = string.punctuation
  for char in exclude:
    text = text.replace(char,'')
  return text


df['Line'] = df['Line'].apply(remove_punc)



#stop words removal
from nltk.corpus import stopwords

def remove_stopwords(text):
  new_text = []

  for word in text.split():
    if word in stopwords.words('english'):
      new_text.append('')
    else:
      new_text.append(word)
  x = new_text[:]
  new_text.clear()

  return ' '.join(x)

df['Line'] = df['Line'].apply(remove_stopwords)

0         right jim.  quarterlies look  good.   things ...
1                   oh,  told you.  couldn’t close it. so…
2         you’ve come   master  guidance?    you’re say...
3                         actually,  called   here,  yeah.
4                      right. well, let  show   it’s done.
                               ...
58716      seems   arbitrary.  applied   job   company ...
58717      feel lucky   got  chance  share  crummy stor...
58718    i’m happy     filmed    remember everyone    d...
58719     sold paper   company  12 years.  job   speak ...
58720     thought   weird   picked us  make  documentar...
Name: Line, Length: 58721, dtype: object

In [7]:
df.head()

,Unnamed: 0,Character,Line,Season,Episode_Number
0,0,Michael,all right jim. your quarterlies look very goo...,1,1
1,1,Jim,"oh, i told you. i couldn’t close it. so…",1,1
2,2,Michael,so you’ve come to the master for guidance? is...,1,1
3,3,Jim,"actually, you called me in here, but yeah.",1,1
4,4,Michael,"all right. well, let me show you how it’s don...",1,1

In [8]:
from gensim.utils import simple_preprocess

for i in range(len(df['Line'])):
    corpus = df['Line'][i]
    raw_sent = sent_tokenize(corpus)
    for sent in raw_sent:
        story.append(simple_preprocess(sent))

In [21]:
model = gensim.models.Word2Vec(
    window=50,
    min_count=5
)

In [22]:
model.build_vocab(story)

In [23]:
model.train(story, epochs= model.epochs, total_examples=model.corpus_count)

(2212007, 3111590)

In [29]:
model.wv.most_similar('robert')

[('california', 0.9349071383476257),
 ('deangelo', 0.926649808883667),
 ('candle', 0.9156023859977722),
 ('holly', 0.9125166535377502),
 ('gabe', 0.9033138751983643),
 ('approaches', 0.9024226069450378),
 ('jerry', 0.9022196531295776),
 ('enters', 0.9021190404891968),
 ('pans', 0.9013597369194031),
 ('thumbs', 0.9010019302368164)]